@import 'globals';

/**
 * Base styles
 */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: red;
}

* {
	box-sizing: border-box;
}

body {
	background: $gray-lightest;
	color: $gray-dark;
}

body,
input,
textarea {
	font: 13px/1.6 $sans-serif;
}

a {
	text-decoration: none;
	color: #14acdd;

	&:visited {
		color: darken( #14acdd, 10% );
	}

	&:hover {
		text-decoration: underline;
	}

}

// Text
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0 0 1em 0;
}

h4 {
	font-size: 14px;
}

#app {
	height: 100%;
	position: relative;
}
